* { 
font-family: 'Karla', sans-serif;

}

.container {
    width: 550px;
    height: 500px;
    background-color: #fef6e4;
}

h3 {
    font-weight: 400;
    padding-left: 2em;
    color: #3F516B;
    margin-bottom: 50px;
    margin-top: 10px;
    font-size: 22px;
}

.generate {
    color: #3F516B;
    font-weight: 800;
    padding-top: 0.8em;
    padding-left: 1em;
    padding-bottom: -2em;
    margin: 0;
    font-size:2.5rem ;
}

.random {
    font-weight: 800;
    color: #8bd3dd;
    padding-left: 1em;
    margin: 0;
    font-size: 2.5rem;
}

.button-gen {
    background-color: #8bd3dd;
    border: none;
    border-radius: 8px;
    width: 223px;
    height: 42px;
    display: flex;
    margin-left: 2.6em;
    align-items: center;
    justify-content: space-around;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 4px 3px 3px rgb(164, 144, 168);
}
.button-gen:hover{
    transform:scale(1.007,1.007);
    transition: 0.1s;
    cursor: pointer;
    box-shadow: 6px 4px 4px rgba(164, 144, 168, 0.7);
}


.button-gen:active {
    position: relative;
    top: 1.5px;
}

.svg {
    fill: #000;
    margin: 0;
}

hr {
    width: 80%;
    margin-top: 3em;
    margin-bottom: 2em;
    color: fff;
    box-shadow: none;
    border: 0;
    border-top: 1px solid #D5D4D8;
}

.output {
    width: 211px;
    height: 39px;
    background-color: #364863;
    border: none;
    border-radius: 8px;
    margin: 16px;
    color: #fef6e4;
    font-size: 18px;
}

.output-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.a {
 fill: #fef6e4;
}





